/var/log/nginx/nativelingo_access.log /var/log/nginx/nativelingo_error.log {
    daily
    rotate 30
    missingok
    notifempty
    compress
    delaycompress
    sharedscripts
    postrotate
        if [ -f /var/run/nginx.pid ]; then
            kill -USR1 "$(cat /var/run/nginx.pid)"
        fi
    endscript
}
